.Dashboard {
  padding-top: 6rem;

  button {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    border: 3px solid black;
    padding: 0.6rem 1.5rem;
    color: black;
    border-radius: 22px;
    margin-top: 0.5rem;
    cursor: pointer;
    outline: none;

    &:not(:last-child) {
      margin: 0 1rem;
    }
  }
}
