nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid rgb(221, 220, 220);

  a {
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;
    color: black;
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    a {
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      color: black;
      border: 3px solid black;
      padding: 0.6rem 0.8rem;
    }
  }
}
