.HomePage {
  padding-top: 6rem;
  position: relative;
  height: calc(100vh - 6rem);

  .HomePage-text-context {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-size: 48px;
    text-transform: uppercase;
  }
}
